
* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/wood_pattern.png");
  min-height: 100vh;
}

img{
  max-height: 300px;
}

hr {
  height: 10px;
  border: none;
  background-color: darkcyan;
  border-bottom: 4px solid teal;
}

#chuckHero {
  display: flex;
  /* justify-content: center; */
  align-items: end;
  background-image: url("https://wallpapercave.com/wp/pa6P2y4.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  max-height: 25%;
}

#chuckHero h1 {
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
  margin-left: 10px;
}

#categories {
  display: flex;
  flex-direction: column;
}

#categories li {
  list-style-type: none;
  font-family: sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  width: 100px;
  background-color: darkcyan;
}

#categories li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

#categories li:hover {
  color: grey;
  text-decoration: underline;
  background-color: aqua;
}